[submodule "themes/hugo-theme-quint"]
	path = themes/hugo-theme-quint
	url = https://github.com/victoriadrake/hugo-theme-quint.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
