[submodule "themes/PaperMod"]
    path = themes/PaperMod
    url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-embed-pdf-shortcode"]
    path = themes/hugo-embed-pdf-shortcode
    url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/hugo-theme-quint"]
	path = themes/hugo-theme-quint
	url = https://github.com/victoriadrake/hugo-theme-quint.git
[submodule "themes/quint"]
	path = themes/quint
	url = https://github.com/victoriadrake/hugo-theme-quint.git

