{{ define "main" }}
<meta name="google-site-verification" content="4hde77tmLAm9a1SIduho4XDWwvf1T4UgYoLJz5xter4" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4710986402681136" crossorigin="anonymous"></script>

<section class="hero">
  <h1 class="p-name">{{ .Site.Title }}</h1>
  {{ with .Site.Params.subtitle }}
    <p class="subtitle">I post <a href="/tags/notes/"> notes </a> by subject and <a href="/tags/">level</a> , resources, and <a href="/tags/food-connoisseur/"> food reviews</a></p>
  {{ end }}
</section>

