<div class="tags-gallery-container">
    <h1>All Tags</h1>
    <div class="tags-gallery">
      {{ range .Data.Terms.Alphabetical }}
        {{ $latest := index .Pages 0 }} <!-- Gets the most recent post for this tag -->
        <a href="{{ .Permalink }}" class="tag-card">
          <div class="tag-card-content">
            <h2>{{ .LinkTitle }}</h2>
            <p>{{ .Count }} post{{ if ne .Count 1 }}s{{ end }}</p>
            {{ with $latest }}
              <p class="small text-date">Latest: {{ .Date.Format "Jan 2, 2006" }}</p>
            {{ end }}
          </div>
        </a>
      {{ end }}
    </div>
</div>
