<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- SEO / Indexing -->
    <meta name="robots" content="index, follow">
    <meta name="description" content="I share O & A level, [GCSE, IGCSE] notes/resources that you may find helpful! ">
    <meta name="keywords" content="notes, IGCSE, O-level, A-level, food review, Infodump">
  
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="shortcut icon" href="/img/favicon.ico">
  
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="4hde77tmLAm9a1SIduho4XDWwvf1T4UgYoLJz5xter4" />
  
    <!-- Page title -->
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  
    <!-- CSS -->
    <link href="/css/styles.css" rel="stylesheet"/>
    {{ range .Site.Params.css -}}
      <link href="/{{ . }}" rel="stylesheet"/>
    {{- end }}
    <link rel="stylesheet" href="/css/custom.css">
  
    <!-- Extra Head -->
    {{ partial "extra_head.html" . }}
  
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4710986402681136" crossorigin="anonymous"></script>
  </head>
  