<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" style="width: 90px; height: auto;">
    <link rel="shortcut icon" href="/img/favicon.ico">
  
    <!-- Google site verification -->
    <meta name="google-site-verification" content="HiWjnAx6ym6iIh0aVMpou6EIqxhf36NwpqhnAb_TXsI" />
  
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    {{ range .Site.Params.css -}}
        <link href="/{{ . }}" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/custom.css">
    {{- end }}
  
    {{ partial "extra_head.html" . }}
  
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4710986402681136" crossorigin="anonymous"></script>
  </head>
  